.rbc-header {
  background-color: #eff6ff;
  padding: 1em;
}

.rbc-time-header-gutter {
  background-color: #eff6ff;
}

.rbc-time-slot {
  min-height: 1.85em;
}

.rbc-event {
  padding: 0;
}

.rbc-event-label {
  display: none;
}

.rbc-allday-cell {
  display: none !important;
}
