# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

admin-db-key.json
database-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
