# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

staging-clockwork-firebase-adminsdk-ozs4e-ebe3a28fd5.json