.rbc-time-slot {
  min-height: 1.85em;
}

.rbc-day-slot .rbc-events-container {
  margin: 0;
}

.rbc-event {
  padding: 0;
}

.rbc-event-label {
  display: none;
}

.rbc-allday-cell {
  display: none !important;
}
