.rbc-header {
  background-color: #eff6ff;
  padding: 1em;
}

.rbc-time-header-gutter {
  background-color: #eff6ff;
}

.rbc-time-gutter .rbc-timeslot-group {
  color: #f5f5f5;
}

.rbc-time-gutter .rbc-timeslot-group:nth-child(even) {
  background-color: #686868;
}

.rbc-time-gutter .rbc-timeslot-group:nth-child(odd) {
  background-color: #4e4e4e;
}

.rbc-time-slot {
  min-height: 1.85em;
}

.rbc-day-slot .rbc-events-container {
  margin: 0;
}

.rbc-event {
  padding: 0;
}

.rbc-event-label {
  display: none;
}

.rbc-allday-cell {
  display: none !important;
}
